/* =========== COMMON STYLES ===========*/
a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

button {
  cursor: pointer;
}
/* =========== /COMMON STYLES ===========*/

/* =========== BODY STYLES ===========*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
/* =========== /BODY STYLES ===========*/

/* =========== HEADER STYLES ===========*/
.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.span-logo-header {
  color: #2e2f42;
}

.page-menu .menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.page-menu {
  background-color: #ffffff;
}
.page-menu .menu-link:hover,
.page-menu .menu-link:focus {
  color: #404bbf;
}
.page-menu .menu-link:active {
  color: #404bbf;
}

.page-contacts {
  font-style: normal;
}
.list-contacts .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.list-contacts .link:hover,
.list-contacts .link:focus {
  color: #404bbf;
}
/* =========== /HEADER STYLES ===========*/

/* =========== SECTION HERO STYLES ===========*/

.section-hero {
  background-color: #2e2f42;
}
.page-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.button-service {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
}
.button-service:hover,
.button-service:focus {
  background-color: #404bbf;
}
/* =========== /SECTION HERO STYLES ===========*/

/* =========== TITLES STYLES ===========*/
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
/* =========== /TITLES STYLES ===========*/

/* =========== SECTION OUR TEAM STYLES ===========*/
.section-team {
  background-color: #f4f4fd;
}
.page-team .team-item {
  background-color: #ffffff;
}
/* =========== /SECTION OUR TEAM STYLES ===========*/

/* =========== FOOTER STYLES ===========*/
.section-footer {
  background-color: #2e2f42;
}
.section-footer .section-text {
  color: #f4f4fd;
}
.span-logo-footer {
  color: #f4f4fd;
}
/* =========== /FOOTER STYLES ===========*/
